@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
}

.open-lightbox {
  width: 30%;
}

.capitalize {
  text-transform: capitalize;
}

.btn-cart {
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}

.active,
.hover\:not-active:hover {
  /* position: absolute; */
  border-bottom-width: 0.125rem;
  border-bottom-color: #f08119;
  /* padding-bottom: 2.7rem; */
}

.mobile-count {
  top: 1.3rem;
  right: 4.2rem;
}
